.page-block{
	background: url(/img/bg-about.png) no-repeat 0 0;
	padding: 20px 41px;
	color:#fff;
	font-size: 20px;
	
}
.page-block p{
	float:right;
	font-style: italic;
	line-height: 40px;
}
.page-block h1{
	font-size: 25px;
}

.main-block{
	background: url(/img/bg-main-block.gif) repeat-y 700px 0 #fff;
	padding-bottom: 70px;
}

main{
	width: 631px;
	float: left;
	margin-left: 41px;
}
main p{
	margin-top: 40px;
	line-height: 24px;

}

.side-bar{
	float:right;
	width: 219px;
	margin-right: 41px;
}

.sb-block h3.title{
	font-size: 15px;
	font-weight: bold;
	color:#000;
	background-image: linear-gradient(to right,#cfcfcf,#fff);
	margin: 30px 0 30px -21px;
	padding-left: 21px;
}
.sb-block{
	margin-left: 21px;
}

/* CLEARFIX */

.page-block:after,
.main-block:after{
  content:'';
  display: table;
  clear:both;
}