@font-face {
    font-family: Nevis; /* Имя шрифта */
    src: url(/fonts/nevis.ttf); /* Путь к файлу со шрифтом */
    font-size: 10px;

   }

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  padding: 40px 0;
  background: url(/img/bg-body.png) no-repeat 50% 0 #0e0e0e;
  font:12px/1.67 Arial, Helvetica, sans-serif;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
}

/* BEGIN HEADER */

header{
  background: #ffffff;
  height: 99px;
  -o-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

header h1{
  float:left;
  margin: 30px 0 0 40px;
}

.tel{
  background: url(/img/bg-top-phone.png) repeat-x 0 0;
  padding: 1px 25px 3px 90px;
  font-size: 18px;
  font-weight: bold;
  color:#c0c0c0;
  float:right;
}

nav{
  float:right;
  clear:right;
}
nav li{
  float:right;
  margin:19px 17px 0 5px;
}
nav li a{
  color:#808080;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  
}

nav li a:hover{
background: url(/img/bg-btn.gif) repeat-x 0 0;
border-radius: 4px;
  color:#FFF;
}

nav li.current a{
  background: url(/img/bg-btn.gif) repeat-x 0 0;
  border-radius: 4px;
  border: 1px solid #555;
  color:#FFF;
}

/* END HEADER */


/* BEGIN SLIDER */

.slider-block{

  background: url(/img/slider-block.png) no-repeat 0 0;
  height: 250px;
  padding: 86px 49px 0;
  color:#fff;
  font-size: 30px;
  font-family: "Trebuchet MS";
  line-height: 34px;
  letter-spacing: -2px;
}

.fs35{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 6px 0 38px;
}

.started{
  background: url(/img/btn-get-ar.png) no-repeat 95% 60%,
  url(/img/bg-btn-get.gif) repeat-x 0 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color:#b90016;
  text-transform: uppercase;
  padding: 11px 50px 11px 28px;
  letter-spacing: 0px;
}

/* END SLIDER */

/* BEGIN BLURBS */

.blurbs{
  background: #ededed;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #ffffff;
  padding: 30px 0px 30px 0px;
  height: 60px;
  width: 960px;
}

.purse{
    padding: 17px 73px 12px 140px;
    background: url(/img/blurbs-purse.png) no-repeat 17% 73%;
}

.clock{
  padding: 17px 73px 12px 74px;
  background: url(/img/blurbs-clock.png) no-repeat -3% 73%;
}

.phone{padding: 17px 0px 12px 89px;
  background: url(/img/blurbs-phone.png) no-repeat -1% 73%;
}

.blurbs li{
  float: left;
  width: 150px;
  line-height: 15px;
  /* padding: 16px 82px 12px 88px; */
}

.blurbs h3{
  font-size: 15px;
  color:#575757;
}

/* END BLURBS */

/* BEGIN MIDDLE */

.middle-block{
  background: #fff;
  padding: 19px 0 0px 0px;
}

.middle-block li{
  float:left;
  width: 249px;
  margin-right: 58px;
}

.middle-block li:last-child{
  margin-right: 0px;
}

h2.title, .middle-block h2{
  font-size: 25px;
  color: #585858;
  margin-bottom: 13px;
}

.middle-block p{
  margin: 12px 0;
}

.read-more{
  font-family: Nevis;
  text-transform: uppercase;
  color:#6c6c6c;
  padding: 4px 10px 4px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-image:linear-gradient(to top, #e5e5e5, #fefefe);
  display: inline-block;
}
.read-more:hover{
  background-image:linear-gradient(to top, #fefefe, #e5e5e5);
}

.design{
  list-style-image: url(/img/design-ar.png);
  list-style-position: inside;
}
.design li{
  border-bottom: 1px dotted #838383;
  padding: 4px 0;
}
.design li:last-child{
  border-bottom: none;
}
.design a{
  color: #0f4db6;
}

/* END MIDDLE */


/* BEGIN FOOTER */

footer{
  background: url(/img/bg-top-footer.gif) repeat-x #ededed;
  border-radius: 0 0 6px 6px;
}

.top-footer{
  padding: 20px 20px 6px 41px;
  border-bottom: 1px solid #ccc;
}

.top-footer > li{
  float:left;
}

.top-footer h3{
  font-size: 15px;
  font-weight: bold;
  color: #585858;
  margin-bottom: 20px;
}
.browse-site{
  width: 106px;
  margin-right: 120px;
}

.browse-site a{
  color:#4f4f4f;
}


.our-test{
  width: 300px;
  margin-right: 65px;
}

.our-test .bold{
  color:#000;
  font-weight: bold;
}

.our-blog{
  width: 288px;
  padding-left: 8px;
}
.our-blog>h3{
  margin-bottom: 10px;
}
.our-blog ul>*{
  line-height: 15px;
}

.our-blog .blue{
  color: #0f4db6;
  font-weight: bold;
}

.our-blog li:nth-child(2) .date{
  margin-top: 12px;
}


.bottom-footer{
  border-top: 1px solid #fff;
  padding: 20px 41px 20px 41px;
}

.bottom-footer .logo{
  float:right;
  
}

.social{
  float:right;

}
.social li{
  float: left;
  margin-right: 17px;
}

.social a{
  display: block;
  width: 16px;
  height: 16px;
  background: url(/img/social.png) no-repeat 0 0;
}

.social a.in{
  background-position: -34px 0;
}

.social a.f{
  background-position: -68px 0;
  margin-right: 75px;
}

/* END FOOTER */

/* SERVICES */
.fl-right{
  float: right;
  display: inline-block;
}

.top-gradient{
  background: url(/img/bg-top-grad.gif) repeat-x 0 0 #fff;
}

.benefits{
  padding: 25px 0 10px 41px;
  
}

.benefits h2.title{
  margin-top: 0;
}

.benefits li{
  margin: 0 70px 40px 0;
  padding-left: 45px;
  width: 340px;
  background: url(/img/check.gif) no-repeat 0 50%;
  float:left;
}

.benefits li: nth-child(even){
  margin-right: 0;
}
/* CLEARFIX */

.page-block:after,
.benefits:after{
  content:'';
  display: table;
  clear:both;
}
/* SERVICES END */

/* ABOUT */
.main-block{
  background: url(/img/bg-main-block.gif) repeat-y 700px 0 #fff;
  padding-bottom: 70px;
}

main{
  width: 631px;
  float: left;
  margin-left: 41px;
}
main p{
  margin-top: 40px;
  line-height: 24px;

}

.side-bar{
  float:right;
  width: 219px;
  margin-right: 41px;
}

.sb-block h3.title{
  font-size: 15px;
  font-weight: bold;
  color:#000;
  background-image: linear-gradient(to right,#cfcfcf,#fff);
  margin: 30px 0 30px -21px;
  padding-left: 21px;
}
.sb-block{
  margin-left: 21px;
}
/* ABOUT END */



/* ABOUT SERVICES PORTFOLIO PAGE BLOCK */
.page-block{
  background: url(/img/bg-about.png) no-repeat 0 0;
  padding: 21px 38px 20px;
  color:#fff;
  font-size: 20px;
  
}
.page-block p{
  float:right;
  font-style: italic;
  line-height: 40px;
}
.page-block h1{
  font-size: 25px;
}

.page-block ul{
  float:right;
  margin:6px -7px 0 0;
}

.page-block li{
  float:left;
  margin-right: 30px;
}

.page-block li:last-child{
  margin-right: 0;
}

.page-block li a{
  color:#93daff;
  font-size: 13px;
}

.page-block li a.current{
  color: #fff;
}


/* END PAGE BLOCK */

/* PORTFOLIO */
.portfolio .middle-block{
  padding: 20px 0 0px 0;
}

.portfolio .middle-block li{
  width: 270px;
  margin: 14px -3px 7px 40px;
}
.portfolio .middle-block p{
  margin: 0 0 25px 0;
}

.portfolio .middle-block h3{
  margin-top: 12px;;
}

.pagination{
  padding: 16px 0 27px 40px;
  color: #0f4db6;
}

.pagination li{
  display: inline-block;
  margin-right: 8px;
}

.pagination li a.current{
  color:#0e0e0e;
  font-weight: bold;
}
/* PORTFOLIO END */


/* CONTACT US */
.contact .side-bar{
  padding: 25px 0 0 0;
}

.contact .sb-block h3.title{
  margin: 15px 0 15px -21px;
}

.contact .sb-block{
  color:#4f4f4f;
}
.contact .sb-block a{
  color:#4f4f4f;
}

.contact-social li{
  float:left;
  margin-right: 15px;
}


.contact-social a{
  display: block;
  width: 32px;
  height: 32px;
  background: url(/img/contact-social.png) no-repeat 0 0;
}

.contact-social a.in{
  background-position: -45px 0;
}

.contact-social a.f{
  background-position: -90px 0;
}

.social a{
  display: block;
  width: 16px;
  height: 16px;
  background: url(/img/social.png) no-repeat 0 0;
}

.social a.in{
  background-position: -34px 0;
}

.social a.f{
  background-position: -68px 0;
  margin-right: 60px;
}

form{
  width: 385px;
}

label{
  font-size: 13px;
  color: #4f4f4f;
}

input[type="text"], textarea{
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  background: url(/img/bg-top-grad.gif) repeat-x 0 0 #fff;
  width: 100%;
  padding: 8px 3px;
}

/* CONTACT US END */
/* CLEARFIX */

.blurbs:after,
.middle-block:after,
.top-footer:after,
.page-block:after,
.main-block:after{
  content:'';
  display: table;
  clear:both;
}

