.page-block{
	background: url(/img/bg-about.png) no-repeat 0 0;
	padding: 20px 41px;
	color:#fff;
	font-size: 20px;
	
}
.page-block p{
	float:right;
	font-style: italic;
	line-height: 40px;
}
.page-block h1{
	font-size: 25px;
}

.fl-right{
	float: right;
	 display: inline-block;
}

/* CLEARFIX */

.page-block:after{
  content:'';
  display: table;
  clear:both;
}